---
import Layout from '../layouts/Layout.astro';
import ExperienceItem from '../components/ExperienceItem.astro';
import dayjs from "dayjs"

import data from "../data";
import IntermediateItem, { Step } from '../components/IntermediateItem.astro';
import ProjectCard from '../components/ProjectCard.astro';
import SectionTitle from '../components/SectionTitle.astro';
import SkillsDisplay from '../components/SkillsDisplay.astro';
---
  
<Layout>
  <!-- Hero -->
  <code>
  {JSON.stringify(data)}
  </code>
  <!-- Experience --> 1.2
  <SectionTitle id="experience" class="thinner-size mb-20">Experience</SectionTitle>
  {data.experience.map((item, index) => (
    <IntermediateItem
      className='second-line place-self-center'
      step={index === 0 ? Step.Begin : Step.Middle}
    />
    <ExperienceItem
      title={item.title}
      description={item.description}
      fromDate={dayjs(item.fromDate)}
      toDate={dayjs(item.toDate)}
      className="my-6 thinner-size"
    />
  ))}
  <IntermediateItem
    className='second-line place-self-center'
    step={Step.End}
  />
  <ExperienceItem
    title='Maybe you'
    description="Send nudes"
    className="mt-6 mb-64 thinner-size"
  />
  
  <!-- Projects -->

  <SectionTitle id="projects" class="mb-20">Projects</SectionTitle>

  <div class="flex flex-wrap justify-center xl:justify-start gap-x-5 gap-y-8 mb-64">
    {data.projects.map((project) => 
      <ProjectCard
        {...project}
      />
    )}
  </div>
  
  <!-- Skills -->

  <SectionTitle id="skills" class="mb-20">Skills</SectionTitle>

  {data.skills.map((skillgroup) => (
    <SkillsDisplay
      className="mb-12"
      title={skillgroup.title} skillList={skillgroup.skillList} />
  ))}

  <!-- Contact -->
</Layout>
