---
import Layout from '../layouts/Layout.astro';
import ExperienceItem from '../components/ExperienceItem.astro';
import dayjs from "dayjs"

import data from "../data";
import IntermediateItem, { Step } from '../components/IntermediateItem.astro';
import ProjectCard from '../components/ProjectCard.astro';
import SectionTitle from '../components/SectionTitle.astro';
import SkillsDisplay from '../components/SkillsDisplay.astro';
import GradientLinkButton from '../components/GradientLinkButton.astro';
---
  
<Layout>
  <!-- Hero -->
  <div class="h-screen max-w-lg mx-auto flex flex-col items-center justify-center">
    <h1 class="font-code font-medium text-[min(4.5rem,11.25vw)] tracking-[-0.08em] leading-none">Diego Pousa</h1>
    <h1 class="ml-1.5 -mt-1 sm:-mt-2.5 font-bold text-[min(3rem,7.5vw)] tracking-[-0.02em] leading-none">Frontend Developer</h1>

    <p class="my-28 font-bold text-2xl tracking-tight text-center">Transforming problems into solutions, cleaning the path for your ideas to became products</p>

    <div class="flex gap-6">
      <GradientLinkButton href="https://github.com/TrabajandoIdeas" target="_blank">Github</GradientLinkButton>
      <GradientLinkButton href="https://www.linkedin.com/in/diegopousa/" target="_blank">LinkedIn</GradientLinkButton>
      <GradientLinkButton href="mailto:contact@diegopousa.dev" target="_blank">Mail me</GradientLinkButton>
      <GradientLinkButton href="/CV_Pousa_Diego.pdf" download="CV Pousa Diego">CV Download</GradientLinkButton>
    </div>
  </div>
  <!-- Experience --> 1.2
  <SectionTitle id="experience" class="thinner-size mb-20">Experience</SectionTitle>
  {data.experience.map((item, index) => (
    <IntermediateItem
      className='second-line place-self-end lg:place-self-center'
      step={index === 0 ? Step.Begin : Step.Middle}
    />
    <ExperienceItem
      title={item.title}
      description={item.description}
      fromDate={dayjs(item.fromDate)}
      toDate={dayjs(item.toDate)}
      className="my-6 thinner-size"
    />
  ))}
  <IntermediateItem
    className='second-line place-self-end lg:place-self-center'
    step={Step.End}
  />
  <ExperienceItem
    title='Maybe you'
    description="Send nudes"
    className="mt-6 mb-64 thinner-size"
  />
  
  <!-- Projects -->

  <SectionTitle id="projects" class="mb-20">Projects</SectionTitle>

  <div class="flex flex-wrap justify-center xl:justify-start gap-x-5 gap-y-8 mb-64">
    {data.projects.map((project) => 
      <ProjectCard
        {...project}
      />
    )}
  </div>
  
  <!-- Skills -->

  <SectionTitle id="skills" class="thinner-size mb-20">Skills</SectionTitle>

  {data.skills.map((skillgroup) => (
    <SkillsDisplay
      className="thinner-size mb-12"
      title={skillgroup.title} skillList={skillgroup.skillList} />
  ))}

  <!-- Contact -->
</Layout>
